@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@Html.ActionLink("Add Customer", "New", "Customers", null, new {@class = "btn btn-primary"})

@if (!Model.Any())
{
    <text>There are no customers</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
        
        </thead>
        @foreach (var i in Model)
        {
            <tr>
                <td>@Html.ActionLink(i.Name, "Edit", "Customers", new { id = i.Id }, null)</td>
                <td>@i.MembershipType.Name</td>
            </tr>
        }
    </table>

}

